<div>
    <a routerLink="/admin/products/add">
        <button class="btn btn-primary">Create</button>
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products, let i = index">
            <td>{{i + 1}}</td>
            <td>{{product.name}}</td>
            <td>
                <a routerLink="/admin/products/{{product.id}}">
                <button class="btn btn-info mx-3">Deatils</button></a>
                <a routerLink="/admin/products/edit/{{product.id}}">
                    <button class="btn btn-primary mx-3">Edit</button>
                </a>
                <button class="btn btn-danger" (click)="onDelete(product.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>