<!-- Định nghĩa biến quản lý form -->
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="">Name</label>
        <!--Định nghĩa thuộc tính để lắng nghe input-->
        <input type="text" class="form-control" formControlName="name">
        <!--productForm.get('ten thuoc tinh = new FormGroup()') sẽ là kết quả khi lắng nghe-->
        <app-show-validate [field]="productForm.get('name')" key="Tên sản phẩm"></app-show-validate>
    </div> 
    <div>
        <button class="btn btn-success" [disabled]="!productForm.valid">Submit</button>
        <a routerLink="/admin/products">
            <button class="btn btn-info mx-3">Quay lại</button>
        </a>
    </div>
</form>