<div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Age</th>
          <th>Email</th>
          <th>SDT</th>
          <th>Avatar</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.age}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phoneNumber}}</td>
          <td><img [src]="user.avatar" alt=""></td>
          <td>
            <button class="btn btn-primary" (click)="onEdit(user.id)">Update</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="onRemove(user.id)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>