<!-- Validate Name -->
<span class="text-danger" *ngIf="(field.touched || field.dirty) && field.errors?.['required']">{{key}} không được để trống</span>
<span class="text-danger" *ngIf="(field.touched || field.dirty) && field.errors?.['minlength']">{{key}} phải từ 6</span>

<!-- Validate Age -->
<span class="text-danger" *ngIf="(field.touched || field.dirty) && field.errors?.['min']">{{key}} không thể dưới 1</span>
<span class="text-danger" *ngIf="(field.touched || field.dirty) && field.errors?.['max']">{{key}} không thể trên 100</span>