<!-- Validate Name -->
<span class="text-danger" *ngIf="(field.touched || field.dirty) && field.errors?.['required']">{{key}} không được để trống</span>
<span class="text-danger" *ngIf="(field.touched || field.dirty) && field.errors?.['minlength']">{{key}} phải từ {{field.errors?.['minlength'].requiredLength}} ký tự</span>

<!-- Validate Age -->
<span class="text-danger" *ngIf="(field.touched || field.dirty) && field.errors?.['min']">{{key}} không thể dưới {{field.errors?.['min'].min}} ký tự</span>
<span class="text-danger" *ngIf="(field.touched || field.dirty) && field.errors?.['max']">{{key}} không thể trên {{field.errors?.['min'].max}}</span>
<!-- Validate Email -->
<span class="text-danger" *ngIf="(field.touched || field.dirty) && field.errors?.['email']">{{key}} phải đúng định dạng</span>
<span class="text-danger" *ngIf="(field.touched || field.dirty) && field.errors?.['phoneNumber']">{{key}} phải đúng định dạng</span>

<span class="text-danger" *ngIf="(field.touched || field.dirty) && field.errors?.['hasProductError']">{{key}} phải chứa product</span>
